version: "3.8"

services:
  app:
    build: ./app
    container_name: app
    env_file: .env
    ports:
      - "${APP_PORT}:3000"
    depends_on:
      - db
    networks:
      - shopikuy_net
    restart: unless-stopped

  db:
    build: ./db
    container_name: db
    env_file: .env
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
    networks:
      - shopikuy_net
    restart: unless-stopped

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    depends_on:
      - app
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - shopikuy_net
    restart: unless-stopped

networks:
  shopikuy_net:

volumes:
  db_data:
