<% layout('layout') -%>
<h3>Login Admin</h3>
<% if (error) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>
<form method="post" action="/admin/login" class="row g-3">
  <div class="col-md-6">
    <label class="form-label">Username</label>
    <input name="username" class="form-control">
  </div>
  <div class="col-md-6">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control">
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Login</button>
  </div>
</form>
